body {
    font-family: Arial, sans-serif;
    margin: 5px;
    background-color: #fff;
}
h1 {
    background-color: #e0c55f;
    padding: 20px;
}
.section {
    background-color: #f7f1da;
    padding: 20px;
    margin: 0px 0px 30px 0px;
    border: 1px solid #ccc;
}
label {
    display: inline-block;
    width: 250px;
    margin-bottom: 10px;
}
input[type="text"], input[type="number"] {
    padding: 10px;
    margin: 5px 40px 5px 20px;
}
#output {
    float: right;
    width: 300px;
    height: 100px;
    border: 1px dashed #aaa;
    padding: 10px;
    background-color: #fff;
}