span.errors {
    color: red;
}

div#main {
    width: 960px;
    height: 720px;
    margin: auto;
}

header, footer {
    width: 960px;
    height: 100px;
    outline: 1px solid #000;
    clear: both; 
}

table, tr, td, th {
    border: 1px solid #000;
    border-collapse: collapse;
}

nav {
    float: left;
    height: 520px;
    width: 100px;
    outline: 1px solid #000 ;
}

section {
    float: left;
    height: 520px;
    width: 760px;
    outline: 1px solid #000 ;
}

aside {
    float: left;
    height: 520px;
    width: 100px;
    outline: 1px solid #000 ;
}

form#mainForm {
    outline: 1px solid #000;
    width: 260px;
    height: 515px;
    float: left;
    padding: 4px 0px 0px 4px;

}

div#dbOutput {
    float: right;
    width: 496px;
    height: 520px;
    overflow: auto;
    outline: 1px solid #000;
}

a {
    margin-left: 5px;
    margin-top: 5px;
}

table {
    min-width: 496px;
}

td {
    padding-left: 3px;
    padding-right: 3px;
}

h1 {
    text-align: center;
    line-height: 100px;
}

form#logowanieForm {
    margin: 50px auto;
    width: 250px;
    
}

form#logoutForm {
    width: 58px;
    height: 20px;
    margin: auto;
}



